body { font-family: Arial; margin: 20px; }
 nav a { margin-right: 15px; }
 .card {
 border: 1px solid #ccc;
 padding: 10px;
 margin: 10px 0;
 border-radius: 5px;
}
body {
    background: #f7f7f7;
}

.card img {
    object-fit: cover;
    height: 220px;
}
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}